*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-div{
    height: auto;
    background: #333;
    display: flex;
    justify-content: center;
}
.main-div .child-div{
    margin-top: 15px;
    width: 25%;
    
}
.child-div .addItems{
    display: flex;
}
.child-div .addItems .icon{
    background: #fff;
    color: #333;
    margin-left: -30px;
    border-radius: 2%;
    height: 0px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: -5px;
    margin-right: -25px;

}
.child-div .addItems input{
    height: 35px;
}
.child-div figure{
    margin-left: 117px;

}
.each-item{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 15px;
    background: green;
}
.each-item .todo-btn .icon{
    font-size: 1.5rem;
    padding-right: 5px;
    color: #fff;
    cursor: pointer;
}
.each-item  h3{
 color: #fff;
 margin-left: 5px;
}
// ########################### Responsive ############################
@media(max-width:700px){
    .main-div .child-div{
        margin-top: 15px;
        width: 75%;
        
    }
    .child-div figure{
        margin-left: 117px;
        
    
    }
    .child-div figure img{
        width: 40%;
        
    
    }
}
@media(min-width:300px) and (max-width:500px){
    .main-div .child-div{
        margin-top: 15px;
        width: 95%;
        
    }
    .child-div figure{
        margin-left: 50px;
    
    }
    .child-div .addItems input{
        background: #333;
        color: red;
    }
    .child-div .addItems .icon{
        color: red;
    }
    .child-div figure .caption-top{
        margin-left: -5px;
    }
    .child-div figure img{
        width: 40%;
        margin-left: 32px;
        
    
    }
}