*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
}
.container{
    text-align: center;
    padding: 2rem;
    border-radius: 0 100px 0 100px;
    background: violet;
    // transition: all 0.5s ease-in-out;
}
.container input{
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    margin: 2rem 0 2rem 0;
    font-size: 1.2rem;
}
.container .quantity{
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}